body {
    background : #eeeeee;
    color: #404040;
    font-family: arial, sans-serif;
}

.button {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    min-width: 100px;
    min-height: 40px;
    
}
.button:hover {
    border-style: dashed;
}

table {
    border-collapse: collapse;
}
th {
    background-color: #cccccc;
}
td {
}